logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
build/
*.local

project/model_service/venv/
project/venv/
venv/
*.pyc
__pycache__/
*.pth
trained_models/
models/
datasets/
uploads/
training_results/
package-lock.json
pip-log.txt

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
coverage/
